<section class="cv-main-block cv-main-block-competences" aria-label="Competences">
	<h2>Competences</h2>
	<ul class="cv-skills-list">
		<li>Concevoir une architecture reseau.</li>
		<li>Analyser, exploiter et structurer des donnees.</li>
		<li>Resoudre des problemes techniques et bugs.</li>
		<li>Concevoir et maintenir un systeme de cybersecurite.</li>
		<li>Optimiser les processus de qualite logicielle.</li>
		<li>Programmation orientee objet.</li>
		<li>Developpement multi-plateformes.</li>
	</ul>
</section>
