<section class="cv-block cv-formation" aria-label="Formations">
	<h2>Mes formations</h2>
	<ul>
		<li>BeWeb - Montpellier</li>
		<li>Diplome : Developpement web et web mobile</li>
		<li>Dates : 2023 - 2024</li>
	</ul>
</section>
