<section class="cv-block cv-logiciel" aria-label="Logiciels techniques acquis">
	<h2>Logiciels techniques acquis</h2>
	<ul>
		<li>Unity Engine</li>
		<li>Visual Studio</li>
		<li>GitHub / GitLab</li>
		<li>Outils Atlassian</li>
		<li>Docker</li>
		<li>Kubernetes</li>
		<li>Panda Suite</li>
	</ul>
</section>
